.main__button {
  display: table;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -webkit-transition: all 0.9s  ease-in-out;
}

.main__button:focus,
.main__button:hover {
  transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -webkit-transition: all 0.9s  ease-in-out;
}